/* FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Advent Pro', sans-serif;
}

.container {
    height: 100vh;
    padding: 1em;
}

.input-field {
    padding: 1em;
    background: none;
    border-radius: 5px;
}

.input-field-text {
    width: 82%;
}

.btn {
    padding: 1em;
    background: none;
    border-radius: 5px;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.185);
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.050);
}

.btn:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.185);
    transform: translateY(2px);
}

.btn-send {
    width: 17%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(252, 182, 182);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(253, 170, 170); 
}

/* HOMEPAGE */

.home-container {
    width: 350px;
    height: 350px;
    margin: 5em auto;
    padding: 3em;
    text-align: center;
    background-color: rgb(255, 203, 203);
    border-radius: 5px;
    box-shadow: 5px 5px 20px grey;
}

.home-container form {
    height: 120px;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CHATROOOM */

.chatroom-container {
    width: 1000px;
    height: 500px;
    margin: 3em auto;
    background-color: rgb(255, 203, 203);
    border-radius: 5px;
    box-shadow: 5px 5px 20px grey;
    display: flex;
    flex-direction: column;
}

.chatroom-header {
    background-color: rgb(252, 182, 182);
    border-radius: 5px 5px 0 0;
    height: 15%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.chatroom-header a {
    text-decoration: none;
    color: black;
}

.chatroom-content {
    height: 85%;
    display: flex;
}

.chatroom-users {
    width: 30%;
    padding: 2em;
}

.chatroom-users h2 {
    margin-bottom: 0.5em;
}

.chatroom-users ul li {
    margin: 0.2em;
    list-style-type: none;
}

.chatroom-chat {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chatroom-messages {
    height: 80%;
    margin: 1em;
    padding: 2em;
    border: 1px solid black;
    border-radius: 5px;

    overflow: auto;
}

.chatroom-messages ul li {
    margin-bottom: 0.5em;
    padding: 0.5em;
    list-style-type: none;
    background-color: rgb(252, 182, 182);
    border-radius: 5px;
}

.chatroom-text {
    height: 20%;
    border-radius: 0 0 5px 5px;
    padding: 1em;
}

.chatroom-text form {
    display: flex;
    justify-content: space-between;
}